<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Forget Password Email Template</title>
</head>
<body>
<p>Hello <span th:text="${userFullName}"></span>,</p>

<p>We received a request to reset your password.</p>

<p>Your account details:</p>
<ul>
    <li><strong>Email:</strong> <span th:text="${email}"></span></li>
</ul>

<p>Your password new: <span th:text="${password}"></span></p>

<p>If you did not request this, please ignore this email or contact support.</p>

<p>Best regards,<br/>Your Company Name</p>
</body>
</html>
